body{

	    background : black;

        
}
        .layout{
            margin: auto;
            padding:5vw;
        }
        .faq{
            padding: 1.9vw;
            padding-top: 2.2vw;
            padding-bottom: 2.2vw;

            margin-top: 1vw;
            margin-bottom: 3vw;
            background: rgb(54, 53, 58);
            border-radius: 20px;
	    -webkit-tap-highlight-color:transparent
        }
        .faq_question p{
            margin: 10px;
            padding: 0;
            font-family:monospace,serif;
            color:white;
            font-size: 24px;
        }
        .faq_answer p{
            margin-top: 1vw;
            margin-botttom: 1vw;

            padding: 1.7vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-size: 20px;
            font-family: monospace;
            color:white;
            border-radius: 12px; 
 	
        }
        .faq:hover{
            cursor: pointer;
        }
        .faq_answer{
           display: none;
            border-radius:12px;
            overflow:hidden;
            
            background: rgb(68, 62, 77);

        } 	